server:
  port: 8081

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/myvote_app
    username: myvote_app
    password: myvote_app
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true